name: Git Checks

on: [pull_request]

jobs:
  block-fixup:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6.0.0 # Always pin
    - name: Block Fixup/Squash Merge
      uses: cellcote/block-fixup-merge-action@master
